body {
    font-family: 'SF Pro' , sans-serif;
    background: linear-gradient( #D3FCFF, #72A0FA);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 140px;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background: transparent;
    text-align: center;
    width: 784px;
    padding: 40px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: bold;
    color: #1149A0;
}

h2 {
    margin-bottom: 60px;
    font-size: 23px;
    font-weight: medium;
    color: #32343D;
}

.form-group {
    margin-bottom: 25px;
    position: relative;
    text-align: left;
    width: 100%;
    max-width: 331px;
    margin: 0 auto;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: light;
    color: #001A57;
}
.form-input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #FFFFFF; 
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: transparent;
}

.password-container {
    align-items: center;
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 331px;
    margin: 0 auto; 
    margin-bottom: 10px;
}

input {
    width: 331px;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: transparent;
}

input[type="password"], input[type="email"] {
    width: 100%;
    padding-right: 40px;
}

button {
    background: #3640E0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 183px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background: #0033aa;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

a {
    color: #0044cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}

.eye-icon {
    position: absolute;
    right: 33px;
    top: 62%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.flashes {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.flashes li {
    color: red;
    font-size: 14px;
<<<<<<< HEAD
}

.message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
=======
>>>>>>> 71636662e9127a0ccbe62344d30498ae7f14194e
}