/* General Styles */
body {
    font-family: 'SF Pro', sans-serif;
    background: #FFFFFF;
    margin: 0;
    display: flex;
}

.sidebar {
    width: 260px; /* Sidebar width */
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 0 20px;
    border-right: 1px solid #ddd;
}

.logo {
    color: #1149A0;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-links li {
    margin: 25px 0;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 0;
    display: block;
}

.nav-links a:hover,
.nav-links a.active {
    color: #1149A0;
}

.home-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 200px; /* Increased gap between user cards */
}

.user-card {
    background: linear-gradient(180deg, rgba(17, 73, 160, 1) 3%, rgba(211, 233, 255, 1) 100%);
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 401px; /* Narrower width */
    height: 1100px; /* Adjusted height */
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-card .user-info {
    margin-bottom: 40px;
    flex-grow: 1;
}

.user-card .name-age {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px; /* Increased margin for better spacing */
}

.user-card .name-age h2 {
    font-size: 43px; /* Increased font size */
    font-weight: bold;
    margin: 0;
}

.user-card .name-age span {
    font-size: 40px; /* Increased font size */
    font-weight: 500;
}

.user-card p {
    font-size: 25px; /* Font size */
    margin: 60px 0; /* Margin for better spacing */
    align-items: flex-start;
    
}

.user-card p i {
    margin-right: 15px;
    flex-shrink: 0;
    font-size: 30px;
    margin-top: 3px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.actions button {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50%;
    color: white;
    padding: 15px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 30px;
}

.actions .dislike-btn {
    background-color: rgba(255, 0, 0, 0.7);
}

.actions .like-btn {
    background-color: #238d5b; /* Changed color */
}