<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyBuddy - Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login&registrationstyles.css') }}">
</head>
<body>
    <div class="container">
        <h1>StudyBuddy</h1>
        <h2>Please enter your University E-Mail</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class_='form-label') }}
                {{ form.email(size=32, class_='form-input') }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
