<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyBuddy - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to StudyBuddy</h1>
        <h1>🎓</h1>
        <h2>login to start</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class_='form-label') }}
                {{ form.email(size=32, class_='form-input') }}
            </div>
            <div class="form-group password-container">
                {{ form.password.label(class_='form-label') }}
                {{ form.password(size=32, id="password", class_='form-input') }}
                <img src="{{ url_for('static', filename='eye-closed.png') }}" id="togglePassword" class="eye-icon" alt="Toggle Password Visibility">
            </div>
                        <a href="#">Forgot Password?</a>
                <button type="submit" class="btn btn-primary">Login</button>
            <p>Don't have an account? <a href="#">REGISTER</a></p>
        </form>
    </div>
    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            const passwordField = document.getElementById('password');
            const passwordFieldType = passwordField.getAttribute('type');
            const newType = passwordFieldType === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', newType);

            const eyeIcon = document.getElementById('togglePassword');
            eyeIcon.src = newType === 'password' ? "{{ url_for('static', filename='eye-closed.png') }}" : "{{ url_for('static', filename='eye-open.png') }}";
        });
    </script>
</body>
</html>