<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches - StudyBuddy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='matchscreenstyle.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    
</head>

<body>
     <div class="sidebar">
       <img src="{{ url_for('static', filename='StudyBuddy Logo.jpg') }}" alt="StudyBuddy Logo" class="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('welcome') }}" >
                <img src="{{ url_for('static', filename='home_icon_not_active.png') }}" alt="Home" class="nav-icon-sb">
                <span>Home</span>
            </a></li>
            <li><a href="{{ url_for('matches')}}" class = "active"> 
                <img src="{{ url_for('static', filename='messages_icon_active.png') }}" alt="Messages Icon" class="nav-icon-m">
                <span>Messages</span>
            </a></li>
            <li><a href="{{ url_for('logout') }}" >
                <img src="{{ url_for('static', filename='logout_icon.png') }}" alt="Logout Icon" class="nav-icon-l">
                <span>Logout</span>
            </a></li>
        </ul>
     </nav>
</div>
    <div class="match-container">
    <div class = "match-header">Your Matches</div>
    <div class = "matches">
        {% for match in matches %}
        <div class="match-card">
        <div class="user-info">
            <p><strong>{{ match.name }}</strong></p>
            <p><i-u class= "fas fa-university"></i-u>{{ match.university }}</p> 
            <p><i-g class= "fas fa-graduation-cap"></i-g>{{ match.course_of_study }}</p>
        </div>
        <button class="chat-now" onclick = "window.location.href='{{ url_for('chat', match_id=match['id']) }}'">
        Chat Now</button>
        </div>
        {% endfor %}
         </div>
    </div>
</body>
</html>

